.form__input {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.3rem;
}

.form__heading {
  padding-bottom: 0.5rem;
}

.form__group {
  text-align: center;
  padding: 1rem;
}

input[type=submit] {
    padding:5rem;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

main {
  background-color: #dcdcdc;
  width: 40%;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 10rem 0 5rem;
  font-size: 2rem;
}

