.form__input {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.3rem;
}

.form__heading {
  padding-bottom: 0.2rem;
}

.form__group {
  text-align: center;
  padding: 1rem;
}

body {
  background: url(../img/DeathtoStock_Wired4.1.jpg) center no-repeat;
  background-size: cover;
  height: 75rem;
  width: 100%;
}

main {
  background: rgba(250, 250, 250, 0.3);
  width: 30%;
  margin: 0 auto;
  border-radius: .2rem;
}

legend {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  color: #FFF;
}

input {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  color: #3A484C;
}

input[type=submit] {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #03A4D3;
  padding: .5rem;
  border: 0 none;
  border-radius: .2rem;
}

input[type=submit]:hover {
  background-color: #2197B7;
  cursor: pointer;
}

header {
  text-align: center;
  padding: 12rem 0 5rem;
  font-size: 2rem;
}

